In [1]:
# search alignments

import json
import pandas as pd
import utils.db_utils as db
import utils.file_utils as file
import utils.bible_utils as bible
import time
from datetime import timedelta

original_words_table = db.original_words_table
target_words_table = db.target_words_table
alignment_table = db.alignment_table
dbPath = './data/alignmentsData.sqlite'
keyTermsPath = 'data/keyTerms.json'
origLangPathGreek = './data/OrigLangJson/ugnt/v0.14'
origLangPathHebrew = './data/OrigLangJson/uhb/v2.1.15'
targetLangPathEn = './data/TargetLangJson/ult/v14'

connection = db.initAlignmentDB(dbPath)

bibleType = 'en_ult'
testament = 1
dataFolder = './data/Alignments'
bookId = 'tit'

searchOriginal = True
searchTarget = False
searchLemma = True
caseInsensitive = True

Connection to SQLite DB successful

In [2]:
# this command will update all the current entries in keyTermsPath
db.refreshSavedAlignmentData(connection, keyTermsPath)

'data/keyTerms.json' has words: {'saved save safe salvation': {'σῴζω': 8, 'σωτηρία': 4}, 'sanctify sanctification': {'ἁγιάζω': 1}, 'holy holiness unholy sacred': {'ἅγιος': 5, 'ὁσιότης': 2}, 'kingdom': {'βασιλεία': 5}, 'ancestor father fathered forefather grandfather': {'πατήρ': 5}, 'angel angels archangel': {'ἄγγελος': 10}, 'apostle apostles apostleship': {'ἀπόστολος': 10, 'ἀποστολή': 2}, 'believe believes believer believers belief beliefs unbeliever unbelievers unbelief unbeliefs': {'πιστεύω': 8, 'πιστός': 4}, 'bless blesses blessed blessing blessings': {'εὐλογέω': 6, 'εὐλογία': 2}}
updating 'saved save safe salvation' = '['σῴζω', 'σωτηρία']'
 for '['σῴζω', 'σωτηρία']' found 56 usages in database
 found 56 alignments in database
for saved save safe salvation found 56 alignments
updating 'sanctify sanctification' = '['ἁγιάζω']'
 for '['ἁγιάζω']' found 6 usages in database
 found 4 alignments in database
for sanctify sanctification found 4 alignments
updating 'holy holiness unholy sacred' = '['ἅγιος', 'ὁσιότης']'
 for '['ἅγιος', 'ὁσιότης']' found 104 usages in database
 found 100 alignments in database
for holy holiness unholy sacred found 100 alignments
updating 'kingdom' = '['βασιλεία']'
 for '['βασιλεία']' found 60 usages in database
 found 60 alignments in database
for kingdom found 60 alignments
updating 'ancestor father fathered forefather grandfather' = '['πατήρ']'
 for '['πατήρ']' found 137 usages in database
 found 137 alignments in database
for ancestor father fathered forefather grandfather found 137 alignments
updating 'angel angels archangel' = '['ἄγγελος']'
 for '['ἄγγελος']' found 53 usages in database
 found 53 alignments in database
for angel angels archangel found 53 alignments
updating 'apostle apostles apostleship' = '['ἀπόστολος', 'ἀποστολή']'
 for '['ἀπόστολος', 'ἀποστολή']' found 50 usages in database
 found 50 alignments in database
for apostle apostles apostleship found 50 alignments
updating 'believe believes believer believers belief beliefs unbeliever unbelievers unbelief unbeliefs' = '['πιστεύω', 'πιστός']'
 for '['πιστεύω', 'πιστός']' found 106 usages in database
 found 104 alignments in database
for believe believes believer believers belief beliefs unbeliever unbelievers unbelief unbeliefs found 104 alignments
updating 'bless blesses blessed blessing blessings' = '['εὐλογέω', 'εὐλογία']'
 for '['εὐλογέω', 'εὐλογία']' found 18 usages in database
 found 18 alignments in database
for bless blesses blessed blessing blessings found 18 alignments

In [4]:
wordList = 'angel angels archangel'
unique = db.saveUniqueLemmasAlignedWithTargetWords(connection, keyTermsPath, wordList)
unique

searching angel
searching angels
searching archangel

{'ἄγγελος': 10}

In [5]:
words = list(unique.keys())
db.saveAlignmentDataForWords(connection, wordList, words, searchOriginal = True, searchLemma = True, caseInsensitive = True)

 for '['ἄγγελος']' found 53 usages in database
 found 53 alignments in database
for angel angels archangel found 53 alignments

In [6]:
wordList = 'apostle apostles apostleship'
unique = db.saveUniqueLemmasAlignedWithTargetWords(connection, keyTermsPath, wordList)
unique

searching apostle
searching apostles
searching apostleship

{'ἀπόστολος': 10, 'ἀποστολή': 2}

In [7]:
words = list(unique.keys())
db.saveAlignmentDataForWords(connection, wordList, words, searchOriginal = True, searchLemma = True, caseInsensitive = True)

 for '['ἀπόστολος', 'ἀποστολή']' found 50 usages in database
 found 50 alignments in database
for apostle apostles apostleship found 50 alignments

In [8]:
wordList = 'believe believes believer believers belief beliefs unbeliever unbelievers unbelief unbeliefs'
unique = db.saveUniqueLemmasAlignedWithTargetWords(connection, keyTermsPath, wordList)
unique

searching believe
searching believes
searching believer
searching believers
searching belief
searching beliefs
searching unbeliever
searching unbelievers
searching unbelief
searching unbeliefs

{'πιστεύω': 8, 'πιστός': 4}

In [9]:
words = list(unique.keys())
db.saveAlignmentDataForWords(connection, wordList, words, searchOriginal = True, searchLemma = True, caseInsensitive = True)

 for '['πιστεύω', 'πιστός']' found 106 usages in database
 found 104 alignments in database
for believe believes believer believers belief beliefs unbeliever unbelievers unbelief unbeliefs found 104 alignments

In [10]:
wordList = 'bless blesses blessed blessing blessings'
unique = db.saveUniqueLemmasAlignedWithTargetWords(connection, keyTermsPath, wordList)
unique

searching bless
searching blesses
searching blessed
searching blessing
searching blessings

{'εὐλογέω': 6, 'εὐλογία': 2}

In [11]:
words = list(unique.keys())
db.saveAlignmentDataForWords(connection, wordList, words, searchOriginal = True, searchLemma = True, caseInsensitive = True)

 for '['εὐλογέω', 'εὐλογία']' found 18 usages in database
 found 18 alignments in database
for bless blesses blessed blessing blessings found 18 alignments

In [4]:
items_orig = db.fetchRecords(connection, original_words_table, '')
print (f"{len(items_orig)} items in original_words_table")

357007 items in original_words_table

In [5]:
print( items_orig[0])

{'id': 137963, 'book_id': 'gen', 'chapter': '1', 'verse': '1', 'word_num': 0, 'word': 'בְּ\u2060רֵאשִׁ֖ית', 'occurrence': 1, 'strong': 'b:H7225', 'lemma': 'רֵאשִׁית', 'morph': 'He,R:Ncfsa'}

In [6]:
originalWords = pd.DataFrame(items_orig)
originalWords

,id,book_id,chapter,verse,word_num,word,occurrence,strong,lemma,morph
0,137963,gen,1,1,0,בְּ⁠רֵאשִׁ֖ית,1,b:H7225,רֵאשִׁית,"He,R:Ncfsa"
1,137964,gen,1,1,1,בָּרָ֣א,1,H1254a,בָּרָא,"He,Vqp3ms"
2,137965,gen,1,1,2,אֱלֹהִ֑ים,1,H0430,אֱלֹהִים,"He,Ncmpa"
3,137966,gen,1,1,3,אֵ֥ת,1,H0853,אֵת,"He,To"
4,137967,gen,1,1,4,הַ⁠שָּׁמַ֖יִם,1,d:H8064,שָׁמַיִם,"He,Td:Ncmpa"
...,...,...,...,...,...,...,...,...,...,...
357002,802135,3jn,1,15,6,ἀσπάζου,1,G07820,ἀσπάζομαι,"Gr,V,MPM2,,S,"
357003,802136,3jn,1,15,7,τοὺς,1,G35880,ὁ,"Gr,EA,,,,AMP,"
357004,802137,3jn,1,15,8,φίλους,1,G53840,φίλος,"Gr,NS,,,,AMP,"
357005,802138,3jn,1,15,9,κατ’,1,G25960,κατά,"Gr,P,,,,,A,,,"
357006,802139,3jn,1,15,10,ὄνομα,1,G36860,ὄνομα,"Gr,N,,,,,ANS,"

In [11]:
nt = list(bible.BIBLE_BOOKS['newTestament'].keys())
searches = []
for book in nt:
    search = f"(book_id=='{book}')"
    searches.append(search)
searches
nt_filter = ' or '.join(searches)
ntWords = originalWords.query(nt_filter)
ntWords

,id,book_id,chapter,verse,word_num,word,occurrence,strong,lemma,morph
305146,750279,luk,1,1,0,ἐπειδήπερ,1,G18950,ἐπειδήπερ,"Gr,CS,,,,,,,,"
305147,750280,luk,1,1,1,πολλοὶ,1,G41830,πολλός,"Gr,RI,,,,NMP,"
305148,750281,luk,1,1,2,ἐπεχείρησαν,1,G20210,ἐπιχειρέω,"Gr,V,IAA3,,P,"
305149,750282,luk,1,1,3,ἀνατάξασθαι,1,G03920,ἀνατάσσομαι,"Gr,V,NAM,,,,,"
305150,750283,luk,1,1,4,διήγησιν,1,G13350,διήγησις,"Gr,N,,,,,AFS,"
...,...,...,...,...,...,...,...,...,...,...
357002,802135,3jn,1,15,6,ἀσπάζου,1,G07820,ἀσπάζομαι,"Gr,V,MPM2,,S,"
357003,802136,3jn,1,15,7,τοὺς,1,G35880,ὁ,"Gr,EA,,,,AMP,"
357004,802137,3jn,1,15,8,φίλους,1,G53840,φίλος,"Gr,NS,,,,AMP,"
357005,802138,3jn,1,15,9,κατ’,1,G25960,κατά,"Gr,P,,,,,A,,,"
357006,802139,3jn,1,15,10,ὄνομα,1,G36860,ὄνομα,"Gr,N,,,,,ANS,"

In [16]:
frequency = ntWords['lemma'].value_counts()
print(frequency)

ὁ            7281
καί          3346
αὐτός        2091
δέ           1290
ἐν           1141
             ...
Λωΐς            1
σκληρύνω        1
τελώνιον        1
φαρμακεία       1
συναλίζω        1
Name: lemma, Length: 3876, dtype: int64

In [17]:
wordList = 'god gods'
unique = db.saveUniqueLemmasAlignedWithTargetWords(connection, keyTermsPath, wordList)
unique

searching god
searching gods

{'θεός': 251, 'δίδωμι': 2, 'αὐτός': 4}

In [18]:
words = list(unique.keys())
db.saveAlignmentDataForWords(connection, wordList, words, searchOriginal = True, searchLemma = True, caseInsensitive = True)

 for '['θεός', 'δίδωμι', 'αὐτός']' found 2731 usages in database
 found 2702 alignments in database
for god gods found 2702 alignments