In [1]:
import pandas as pd
import utils.db_utils as db
import utils.file_utils as file
import utils.bible_utils as bible

original_words_table = db.original_words_table
target_words_table = db.target_words_table
alignment_table = db.alignment_table
dbPath = './data/alignmentData.sqlite'
origLangPathGreek = './data/OrigLangJson/ugnt/v0.14'
origLangPathHebrew = './data/OrigLangJson/uhb/v2.1.15'

connection = db.initAlignmentDB(dbPath)

bibleType = 'en_ult'
testament = 1
dataFolder = './data/Alignments'
bookId = 'tit'

Connection to SQLite DB successful

In [2]:
items_target = db.fetchRecords(connection, target_words_table, '')
print (f"{len(items_target)} items in target_words_table")

items_align = db.fetchRecords(connection, alignment_table, '')
print (f"{len(items_align)} items in alignment_table")

items_orig = db.fetchRecords(connection, original_words_table, '')
print (f"{len(items_orig)} items in original_words_table")

# 69050 items in target_words_table
# 48892 items in alignment_table
# 52996 items in original_words_table

lemma = 'θεός'
word = 'Θεοῦ'

# find all forms of word by lemma
lemmas = db.findOriginalLemma(connection, lemma)
print (f"{len(lemmas)} items found")

# find specific word by text
words = db.findOriginalWord(connection, word)
print (f"{len(words)} items in search")

first_word = words[0]

# item = db.findWordById(connection, 75, original_words_table)

alignment = db.getAlignmentForWord(connection, first_word, 1)

alignments = db.getAlignmentsForWord(connection, words, 1)

# load as dataframe
df = pd.DataFrame(alignments)

69050 items in target_words_table
48892 items in alignment_table
51861 items in original_words_table
509 items found
262 items in search: word = 'Θεοῦ'
262 items in search

In [3]:
df

,id,book_id,chapter,verse,alignment_num,orig_lang_words,target_lang_words,origWords,origWordsTxt,targetWords,targetWordsTxt
0,74,luk,1,6,5,",75,76,",",115,","[{'id': 75, 'book_id': 'luk', 'chapter': '1', ...",τοῦ Θεοῦ,"[{'id': 115, 'book_id': 'luk', 'chapter': '1',...",God
1,113,luk,1,8,12,",118,119,",",163,","[{'id': 118, 'book_id': 'luk', 'chapter': '1',...",τοῦ Θεοῦ,"[{'id': 163, 'book_id': 'luk', 'chapter': '1',...",God
2,284,luk,1,19,11,",301,302,",",415,","[{'id': 301, 'book_id': 'luk', 'chapter': '1',...",τοῦ Θεοῦ,"[{'id': 415, 'book_id': 'luk', 'chapter': '1',...",God
3,404,luk,1,26,10,",431,432,",",590,","[{'id': 431, 'book_id': 'luk', 'chapter': '1',...",τοῦ Θεοῦ,"[{'id': 590, 'book_id': 'luk', 'chapter': '1',...",God
4,546,luk,1,35,22,",581,",",796,797,","[{'id': 581, 'book_id': 'luk', 'chapter': '1',...",Θεοῦ,"[{'id': 796, 'book_id': 'luk', 'chapter': '1',...",of God
...,...,...,...,...,...,...,...,...,...,...,...
257,48409,1jn,5,19,3,",51346,51347,",",68361,","[{'id': 51346, 'book_id': '1jn', 'chapter': '5...",τοῦ Θεοῦ,"[{'id': 68361, 'book_id': '1jn', 'chapter': '5...",God
258,48422,1jn,5,20,5,",51362,51363,",",68385,68386,","[{'id': 51362, 'book_id': '1jn', 'chapter': '5...",τοῦ Θεοῦ,"[{'id': 68385, 'book_id': '1jn', 'chapter': '5...",of God
259,48494,2jn,1,3,7,",51443,",",68481,","[{'id': 51443, 'book_id': '2jn', 'chapter': '1...",Θεοῦ,"[{'id': 68481, 'book_id': '2jn', 'chapter': '1...",God
260,48755,3jn,1,6,12,",51720,",",68850,","[{'id': 51720, 'book_id': '3jn', 'chapter': '1...",Θεοῦ,"[{'id': 68850, 'book_id': '3jn', 'chapter': '1...",God
261,48832,3jn,1,11,11,",51798,51799,",",68967,","[{'id': 51798, 'book_id': '3jn', 'chapter': '1...",τοῦ Θεοῦ,"[{'id': 68967, 'book_id': '3jn', 'chapter': '1...",God